
/*Adi*/
/*#dog_div*/ .picture
{
	width: 30%;
	margin-top: 5%;
	margin-right: 5%;
	position: relative;
}
.picture img
{
	width: 80%;
}

/*#dog_div*/
 /*#dog_div*/.name
{
	
	font-size: 23px;
	color: #AC6D76;
}

/*#dog_div*/.age
{
	float: left;
	display: inline; 
	font-size: 15px;
}

/*#dog_div*/.gender
{	
	position: absolute;
	top: 15%;
	left: 5%;
}

/*#dog_div*/.description
{
	font-family: gisha;
	font-size: 15px;
	font-weight: lighter;
}
