@media screen and (max-width: 1045px) {
/*=========================================*/
/*=========== GENERAL SETTING ===============*/ 
/*=========================================*/



/*=========================================*/
/*=========== HEADER SETTINGS ===============*/ 
/*=========================================*/
#top {
  z-index: 100;
  position: relative;
  color: #fff;
  background: url("../../static/img/background/body-bg-tile.jpg") button repeat;
}
/*=====Logo===*/
	#logo{
		width: 279px;
		height: 95px;
		background: url("../../static/img/logo_279_95.png") no-repeat center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		float:none;
	}
	
/*=====Donation Banner===*/
	#contact{
		display:none;
	}
	
/*=====Navigator Settings===*/	
	#nav {
	position: absolute;
	top: 0;
	padding-top: 7.75em;
	}
	#nav:not(:target) {
	z-index: 1;
	height: 0;
	}
	#nav:target .close-btn {
	display: block;
	}
	.nav-btn {
	  position: absolute;
	  top: 1.5em;
	  left: 1.0em;
	}	
	#nav .close-btn {
	position: absolute;
	top: 1.65em;
	left: 1.675em;
	}
	#nav .block {
	position: relative;
	padding: 0;
	}
	#nav li {
	position: relative;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
	#nav li:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	#nav li.is-active:after {
	z-index: 50;
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: -0.03125em;
	margin-top: -0.625em;
	border-top: 0.625em transparent solid;
	border-bottom: 0.625em transparent solid;
	border-right: 0.625em white solid;
	}
	#nav li a {
	padding: 0.85714em 2.14286em;
	}

  .js-ready #nav {
    height: 550%;
    width: 70%;    
    background: rgba(175,115,123,0.18);
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: rgba(175,115,123,0.18);
    height: 100%;

  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }

  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
/*=========================================*/
/*=========== GENERAL MAIN SETTINGS ===============*/ 
/*=========================================*/
.mainBtn,.mainTop{
	display:none;
}

.mainContent{background:transparent; width:auto;}
/*=========================================*/
/*=========== GENERAL FOOTER SETTINGS ===============*/ 
/*=========================================*/


/*=========================================*/
/*=========== PAGE - ADOPT A DOG ===============*/ 
/*=========================================*/




} /*END OF MEDIA*/