*{margin:0;padding: 0;}
/*=========================================*/
/*=========== GENERAL SETTING ===============*/ 
/*=========================================*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}

a {text-decoration: none;}
a:focus {outline: thin dotted;}
a:active,a:hover{outline: 0;}


@font-face{font-family: "trashimclm";src: url(trashimclm.ttf);}

body {
  	  font-family: trashimclm;
  	  color: #333;
  	  background:#333333 url("../../static/img/background/body-bg-tile.jpg") bottom repeat;
  	  -webkit-text-size-adjust: 100%;
  	  -ms-text-size-adjust: 100%;
  	  height: 100%;
  	  }

.clear{clear: both;}


.block {
  position: relative;
  margin: 0 auto;
}


#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  margin-bottom: -142px; 
  
}

#outer-wrap:after {
  content: "";
  display: block;
}

footer, #outer-wrap:after {
  /* .push must be the same height as footer */
    height: 142px; 
}

#inner-wrap {
  position: relative;
  width: 100%;
  
}

/*=========================================*/
/*=========== HEADER SETTINGS ===============*/ 
/*=========================================*/

header#top {
	margin-bottom: 30px;
}

/*=====Logo===*/
#logo{width: 425px; height: 175px; background:transparent url("../../static/img/logo_425_156.png") no-repeat;
      display: block; float:right; 
      z-index:9999;
      }


/*=====Login Form===*/
#contact { 
	height:90px;
	padding:7px 10px 0px 10px;
	text-align:center;
	float:left;	
}

.based{
	float: left;
	font-family: Tahoma;
	white-space:normal;
	padding:10px 15px;font-size:15px;line-height:1.371;border-radius:6px;
	font-weight: bold;
	color:#fff;
	background-color: rgba(114, 146, 153, 0.8);
	border: 5px solid metal;
	outline: 0; 
	margin: 10px 0 0 0;
}

.based:hover{
	background-color: rgba(114, 146, 153, 1);
	border: 10px solid metal;
	
}
#loginBannerAfterClick form input[type="submit"]{
	float: left;
	
	margin-left: -3px;
	font-family: Tahoma;
	width:55px;
	height:21px;
	white-space:normal;
	background-color: rgba(114, 146, 153, 0.8);
	border: 2px metalic;
	outline: 0;
	font-size:12px;
	border-radius:6px;
	color:#fff;
	font-weight: bold;
	margin: 8.5px 15px 0 0;
	}

#loginBannerAfterClick form input[type="text"],
#loginBannerAfterClick form input[type="password"]
{
	float: left;
	margin-right: 15px;
	border-radius:4px;
	border: none;
	text-align:center;
	background-color: rgba(119, 112, 107, 0.05);
	outline: none;
	border-bottom: 2px solid rgba(62, 85, 96, 0.2);
	font-family: Tahoma;
	color: #3E5560;
	font-size: 15px;
	margin: 10px 15px 0 0;
}


#loginBannerAfterClick form input[type="text"]:hover,
#loginBannerAfterClick form input[type="password"]:hover
{
		background-color: rgba(119, 112, 107, 0.12);
		border-bottom: 2px solid rgba(62, 85, 96, 0.65);
}



/*=====Navigator Settings===*/
.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: url("../../static/img/buttons/close-btn.png") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.nav-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background:url("../../static/img/buttons/nav-icon.png") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}



/*=========================================*/
/*=========== GENERAL MAIN SETTINGS ===============*/ 
/*=========================================*/

.mobileMainContent{
	display:none;
}
.desktopMainContent{
	display:block;
	padding-right: 20px;
}

#main .block {
	 padding: 15px 30px 42px 30px;
}

.mainTop{
	background:url("../../static/img/background/top/main_top_bones.jpg") no-repeat;
	width:980px;
	height:68px;
	display:block;
}

.mainContent{
	background:url("../../static/img/background/content/main-content-tile.jpg") repeat-y;
	width:920px;
	overflow:hidden;
	padding:40px 20px 0px 40px;
}

.mainBtn{
	background:url("../../static/img/background/btm/main-content-btm-curve.jpg") no-repeat;
	height:33px;
	display:block;
	width:980px;
}

.mainContent h1{
	color:#3E5560;
	font-size:40px; line-height:19px; margin:0 15px 0 10px;
}
/*=========================================*/
/*=========== GENERAL FOOTER SETTINGS ===============*/ 
/*=========================================*/

#footer {	
	background:url("../../static/img/background/footer_img.png") repeat-x #FFF;	
	padding:140px 0px 40px 00px;
	margin:-70px 0px 0px 0px;
	overflow:hidden;
	bottom: 0px;
	height:100%;	
}
#footer_data{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;	
}

.footer_menu{
	float:right; 
	margin-right:25px; 
	padding-left:25px; 
	min-height:100px; 
	height: auto !important; 
	
}
#footer_menu a{
	color:#525252; 
	text-decoration:none;
	font-size:13px;
}
#footer_menu a:hover{
	color: #7A8D90;	
}
#footer_menu h2{
	color:#7A8D90;	
	padding-bottom: 7px; 
	padding-top:15px;

}
#footer_menu h2 a{
	color:#7A8D90;
	font-size:18px;		
}
#footer_menu h2 a:hover{
	color: #3E5561;
}
#footer_menu ul{
	list-style-type:none; 
	overflow:hidden;
}



/*=========================================*/
/*=========== PAGE - INDEX PAGE ===============*/ 
/*=========================================*/


/*=====Header Settings===*/
#loginForm{display: none;}

.loginForm{
	width:200px;
}

.indexRightSide{
	width:400px;
	float:right;
	margin: 5px 20px 0 0;		
}
.banner{
	width:110%;
	border-radius: 10px;
}

.indexRightSide h2{
	width: 430px;
	color:#729299;
	text-align:center;
	margin: 28px 0 0 0;

}
.indexRightSide h3{
	width: 430px;
	color:#77706b;
	text-align:center;
	line-height: 28px;
	margin: 20px 0 0 0;	
}
.indexRightSide h4{
	color:#77706b;
	text-align:center;
	margin: 40px 0 0 0;	
	font-weight: bold;
}
.indexRightSide p{
	
	font-size:16px;
	color:#77706b;
	text-align:center;
	margin: 40px 0 0 0;	
}
.indexLeftSide{
	width:400px;
	float:left;
	background-color: #fff;
}
.indexLeftSideAdopt{background:url("../../static/img/panels/rhs-blue-comb.jpg") no-repeat;}
.indexLeftSideVolenteer{background:url("../../static/img/panels/adoption_day.jpg") no-repeat;}
.indexLeftSideAdoptaionDays{background:url("../../static/img/panels/rhs_comb_white_bg.jpg") no-repeat;}
.indexLeftSideStore{background:url("../../static/img/panels/rhs-pink-puppy.jpg") no-repeat;}

.indexLeftSideAdoptaionDays, 
.indexLeftSideAdopt{width:160px; height:110px; padding:45px 180px 0px 43px; float:left;
					margin: 0 0 20px 0;}
.indexLeftSideStore, .indexLeftSideVolenteer{width:160px; height:110px; float:left;	
											 padding:55px 45px 0px 180px; margin-bottom:18px; }
.indexLeftSideAdoptaionDays h4,.indexLeftSideAdopt h4{text-align:center; font-size:25px; margin-top: -10px; line-height: 35px;
													  color:#7A8D90;font-weight:bold;}
.indexLeftSideAdoptaionDays p, .indexLeftSideAdopt p{text-align:center; font-size:15px; color:#729299;	line-height: 20px;}
.indexLeftSideStore h4, .indexLeftSideVolenteer h4{text-align:center; font-size:25px;
												   color:#AC6D76; margin: -15px -35px 0; font-weight:bold; line-height: 30px;}
.indexLeftSideStore p, .indexLeftSideVolenteer p{text-align:center; font-size:15px; color:#AC6D76; line-height: 20px;}
.indexLeftSideStore p{margin:2px -24px 0 0;}
.indexLeftSideVolenteer p{margin:0 -20px 0 0; }


=======
>>>>>>> a66220a2b470c331226dbb8839e8dfabbd223369

/*=========================================*/
/*=========== PAGE - ADOPT A DOG ===============*/ 
/*=========================================*/



/*forms buttons and inputs*/
button,input,select,textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,input {
  line-height: normal;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.dogsListTitle {
	margin-bottom: 15px !important;
}

/*.searchDogs {
	margin-bottom: 50px;
}*/
    
.adoptDogForm {
	padding: 2%;
	/*background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	border: rgba(255, 255, 255, 0.5) solid 5px;
	width:70%;
	margin: 5% 14% 0 0;*/
	background: rgba(62, 85, 96, 0.05);
}

.adoptDogForm h3 {
	margin-top: 10px;
    margin-bottom: 5px;
    color: rgba(114, 146, 153, 1);
}

/*.dog_search_first_section label {
 	float: right;
  	padding: 10% 0% 10% 0;	
}*/

.dog_search_second_section label {
  	/*padding: 5% 0 10% 0;
  /*	margin: 5% 5% 5% 5%;*/	
}

.dog_search_first_section input, .dog_search_fourth_section input {
    margin-bottom: 10px;
}

.dog_search_first_section .radio_botton, .dog_search_fourth_section .checkbox_botton {
	vertical-align: top;
    margin-right: 5px;
}


.submitBtn2 {
	color: #3E5560;
    font-size: 20px;
    background: #DEDEDE;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
   /* margin-left: 8px;
    margin-bottom: 4px;*/
}

.submitBtn2:hover {
	background: #3E5560;
    text-decoration: none;
    color: #eee;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

/*=========================================*/
/*=========== Desktop Adaption ===============*/ 
/*=========================================*/


@media screen and (min-width: 1046px) {

	.block{
	  max-width: 960px;	
	}
	#top > .block{	
		background:url(../../static/img/background/border.png) bottom repeat-x;
		height:150px;
	}
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

	#nav .close-btn {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	}

	#nav{
	overflow:visible;
	float:left;
	width:550px;
	height:10px;
	margin:-57px -180px 0 30px;
	}
	
	#nav img{
		display: none;
	}
	#nav hr{
		display: none;
	}

	#nav .close-btn {
	  display: none;
	}

	#nav ul {
	  *zoom: 1;
	  display: block;
	}
	#nav ul:before, #nav ul:after {
	  content: "";
	  display: table;
	}
	#nav ul:after {
	  clear: both;
	}
	#nav li {
	  display: block;
	}

	#nav a, #nav a:visited {
		display:inline-block;
		color:#756e68;
		font-weight:500;
		line-height: 1.28571em;
		font-size:17px;
		text-align:center;
		height:29px;	
		padding:12px 0px 0px 0px;
	}
#nav li a:focus, #nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
  color: #fff;
}

  #nav ul {
    text-align: center;   
    position:relative;
    margin:60px 0 0 0;
  }
  #nav li {
    display: inline-block;       
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 8px 18px;
  }




#nav li.is-active a, #nav a:hover {
	color:#57514b;
	text-decoration:none;
	background:url(../../static/img/buttons/menu-tabs/right-brown.png) right top no-repeat;
}

#nav li.navBtnAdopt a { width:86px;}
#nav li.navBtnAdopt.is-active a, #nav li.navBtnAdopt a:hover { background:url(../../static/img/buttons/menu-tabs/navBtn118.jpg) no-repeat;}

#nav li.navBtnFoster a { width:100px;}
#nav li.navBtnFoster.is-active a, #nav li.navBtnFoster a:hover { background:url(../../static/img/buttons/menu-tabs/navBtn131.jpg) no-repeat;}

#nav li.navBtnGallery a { width:84px;}
#nav li.navBtnGallery.is-active a, #nav li.navBtnGallery a:hover { background:url(../../static/img/buttons/menu-tabs/navBtn118.jpg) no-repeat; }

#nav li.navBtnAbout a { width:84px;}
#nav li.navBtnAbout.is-active a, #nav li.navBtnAbout a:hover { background:url(../../static/img/buttons/menu-tabs/navBtn118.jpg) no-repeat; }

#nav li.navBtnDonate a { width:84px;}
#nav li.navBtnDonate.is-active a, #nav li.navBtnDonate a:hover {background:url(../../static/img/buttons/menu-tabs/navBtn118.jpg) no-repeat; }

#nav li.navBtnDogIndex a { 
	width:84px;
	margin-top: 10px;
}
#nav li.navBtnDogIndex.is-active a, #nav li.navBtnDogIndex a:hover {background:url(../../static/img/buttons/menu-tabs/navBtn118.jpg) no-repeat; }

#nav li.navBtnDogHouseIndex a { 
	width:84px;
	margin-top: 10px;
}
#nav li.navBtnDogHouseIndex.is-active a, #nav li.navBtnDogHouseIndex a:hover {background:url(../../static/img/buttons/menu-tabs/navBtn118.jpg) no-repeat; }
}

/*=========================================*/
/*=========== PAGE - DOG LIST ===============*/ 
/*=========================================*/

#dog_div>.picture {
	width: 30%;
	margin-top: 5%;
	margin-right: 2.5%;
	position: relative;
	float: right;
	border-radius: 10px;
}

#dog_div .picture
{
	width: 14%;
}

#dog_div .name {	
	font-size: 23px;
	color: #AC6D76;
	text-align:center;
	margin-bottom: 20px;
}
.dogsDetails {
	float: right;
    margin: 5% 1%;
    width: 70%;
}

.dogsDetails .generalDetails p {
	font-family: gisha;
    font-weight: lighter;
    font-size: 15px;
}

.dogsDetails .generalDetails p span {
	font-family: trashimclm;
	color: rgba(114, 146, 153, 1);
	font-size: 18px;
}

.dogsDetails .col-4 {
	padding-right: 8%;
}

#dog_div .age {
	display: inline; 
	font-size: 15px;
}

#dog_div .gender {	
	position: absolute;
	top: 15%;
	left: 5%;
}

#dog_div .description {
	font-family: gisha;
	font-size: 15px;
	font-weight: lighter;
}
#dog_div {
	width: 100%;
    min-height: 226px;
    padding: 0px 4px 4px 4px;
	float: right;
	border-bottom: 1px solid #eee;
}

.col {
	width: 33.333%;
    float: right;
    text-align: center;
    margin-top: 27px;
}

.col-2 {
	width: 40%;
    float: right;
    text-align: center;
    margin-top: 30px;
}

.col-4 {
	width: 25%;
	float: right;
}

.col-5 {
	width: 20%;
    float: right;
    text-align: center;
    margin-top: 30px;
}

/*=========================================*/
/*====PAGE - Foster_Registration =====*/ 
/*=========================================*/

.information_about_foster {
    margin: 20px 20px 50px 20px;
    line-height: 25px;
    font-size: 14px;
    width: 100%;
    /*text-align: center;*/
    border-bottom: #eee 2px solid;
    padding-bottom: 10px;
}

.fosterRegistartion {
	margin: 50px auto;
}

.foster_form {
	margin: 0 auto ;
	text-align:center;

}

.foster_form .col-2, .foster_form .col-5 {
	margin-bottom: 25px;
}

.fost_form_label {
	font-size:1.3em;
}

.foster_form_input {
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 300px;
}

.submitBtn {
  color: #3E5560;
  font-size: 27px;
  background: #eee;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	border: none;
    margin-top: 80px;
	font-family: trashimclm;
}

.submitBtn:hover {
  background: #3E5560;
  text-decoration: none;
	color:#eee;
	 -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
/*TABS*/
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
        
.tab-content h1{
	margin:60px 0 0 0;
	font-size:30px;
	color:red;
}

.tab-content h1 {
	margin: 60px 0 0 0;
	font-size: 30px;
	color: red;
}

/*=========================================*/
/*====PAGE - Dogs-Index =====*/
/*=========================================*/

.dog_index_insert_button {
	color:#AC6D76;
    font-size: 20px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    font-family: trashimclm;
    float: right;
	margin-top: 3%;
    margin-right: 2%;
}
.dog_index_insert_button:hover {
	background-color: #AC6D76;
	color: #eee;
	-webkit-transition: background-color 1000ms linear;
	-moz-transition: background-color 1000ms linear;
	-o-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}

.dogs_index_UpdateBtn {
	color:#2ecc71;
    font-size: 20px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: left;

	margin-top: 10%;
}

.dogs_index_FosterBtn {
	color:#AC6D76;
    font-size: 18px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: left;

	margin-top: 5px;
}
.dogs_index_RemoveBtn {
	color:#e74c3c;
    font-size: 20px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: left;
	margin-top: 5px;
}

.dogs_index_UpdateBtn:hover, .dogs_index_FosterBtn:hover, .dogs_index_RemoveBtn:hover {
	background: #3E5560;
    text-decoration: none;
    color: #eee;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
} 

#dogs_index_dog_div>.picture {
	width: 30%;
	margin-top: 11%;
	margin-right: 5%;
	position: relative;
	float: right;
	border-radius: 10px;
}

#dogs_index_dog_div .picture
{
	width: 14%;
}

#dogs_index_dog_div .name
{

	font-size: 23px;
	color: #AC6D76;
	text-align:center;
}
.dogs_index_dogsDetails{
	float: right;
    margin: 5% 1%;
    width: 78%;
}

#dogs_index_dog_div .age
{
	display: inline;
	font-size: 15px;
}

#dogs_index_dog_div .gender
{
	position: absolute;
	top: 15%;
	left: 5%;
}

#dogs_index_dog_div .description {
	font-family: gisha;
	font-size: 15px;
	font-weight: lighter;
}

#dogs_index_dog_div{
	width: 100%;
    min-height: 226px;
	padding-left: 4px;
	padding-bottom:4px;
	float: right;
}

.dogs_index_col{
	width: 23%;
    float: right;
    /*text-align: center;*/
    margin-top: 27px;
    padding-right: 4%;
}

.dogs_index_col.dogDetailAdmin {
	margin-top: 36px;
}

.dogs_index_col.dogDetailAdmin p,  .dogs_index_col.dogs_index_details p {
	margin-bottom: 5px;
}

.dogs_index_col.dogDetailAdmin p {
	font-family: gisha;
	font-weight: lighter;
	font-size: 15px;
}

.dogs_index_col.dogDetailAdmin p span {
	font-size: 18px;
	color: rgba(114, 146, 153, 1);
	font-family: trashimclm;
}

.dogs_index_col.dogs_index_btn {
	width: 6%;
    padding-right: 13%;	
}

#dogs_index_dog_div .text {
	font-family: gisha;
	font-size: 15px;
	font-weight: lighter;
}

#dogs_index_dog_div .label{
	font-size:18px;
	color: rgba(114, 146, 153, 1);
}

.dogs_index_foster_count {
	width: 100%;
	float: right;
	text-align: right;
	margin-top: 10px;
	margin-right:5%;
}

.dogs_index_foster_col{
	width: 33.33%;
    float: right;
    text-align: center;
    margin-top: 27px;
}


/*=========================================*/
/*====PAGE - Dog-Update =====*/
/*=========================================*/

.dog_update_form_label{font-size:1.3em;}

.dog_update_form_input{
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 300px;
}

.dog_update_form_select{
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 80px;
}

.dog_update_form_radio{
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 30px;
}

.dog_update_col{
	width: 50%;
    float: right;
    text-align: center;
    margin-top: 27px;
}

.dog_update_picture{
	width: 45%;
    margin-top: 2%;
    margin-right: 27%;
	position: relative;
	float: right;
}
.dog_update_submitBtn{
	color: #3E5560;
	font-size: 35px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    font-family: trashimclm;
    float: left;
    margin-left: 8px;
    margin-bottom: 4px;
	margin-top: 10px;
}


/*=========================================*/
/*====PAGE - Dog-Update =====*/
/*=========================================*/


.success_dog_updation_a{
	margin-right:50px;
	font-size: 30px;

}

/*=========================================*/
/*====PAGE - Houses_index =====*/
/*=========================================*/

.houses_index_UpdateBtn {
	color:#2ecc71;
    font-size: 20px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: left;

	margin-top: 10%;
}

.houses_index_FosterBtn {
	color:#2ecc71;
    font-size: 18px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: right;
	margin-top: 35px;
}

.houses_index_RemoveBtn {
	color:#e74c3c;
    font-size: 20px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    /* margin-top: 56px; */
    font-family: trashimclm;
    float: right;
	margin-top: 35px;
	margin-right: 30%;
}

.houses_index_FosterBtn:hover, .houses_index_RemoveBtn:hover, .houses_index_UpdateBtn :hover {
	background: #3E5560;
    text-decoration: none;
    color: #eee;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#houses_index_house_div .name {
	font-size: 23px;
	color: #AC6D76;
	/*text-align:center;*/
	padding-right: 2px;
}

.houses_index_houseDetails {
	float: right;
    /*margin: 5% 1%;*/
    width: 94.5%;
    padding: 35px;
    border-bottom: 1px solid #eee;
}

#houses_index_house_div {
	width: 100%;
    min-height: 226px;
	padding-left: 4px;
	padding-bottom:4px;
	float: right;
}

.houses_index_col {
    float: right;
    /*text-align: center;*/
    margin-top: 15px;
}

.houses_index_col.mapContainer {
	width: 39%;
}

.houses_index_col.detailsContainer {
	width: 61%;
}

#houses_index_house_div .text {
	font-family: gisha;
	font-size: 15px;
	font-weight: lighter;
}
#houses_index_house_div .label{
	font-size: 18px;
	color: rgba(114, 146, 153, 1);
}

.houses_index_foster_count {
	width: 100%;
	float: right;
	text-align: right;
	margin-top: 10px;
	margin-right:5%;
}

.houses_index_foster_col {
	width: 33.33%;
    float: right;
    text-align: center;
    margin-top: 27px;
}

.house_foster_picture
{
	width: 30%;
	/*margin-top: 5%;*/
	margin-right: 5%;
	position: relative;
	float: right;
}

.house_foster_label
{
	margin-top: 5%;
	font-size:18px
}

.house_foster_text
{
	font-family: gisha;
	font-size: 15px;
	font-weight: lighter;
}
.houses_index_fosterDetails{
	float: right;
    margin-right: 8%;
    width: 70%;
}


/*=========================================*/
/*====PAGE - Dog-Insert =====*/
/*=========================================*/


.dog_insert_form_label{font-size:1.3em;}

.dog_insert_form_input{
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 300px;
}

.dog_insert_form_select{
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 80px;
}

.dog_insert_form_radio{
    font-size: 1.0em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
	text-align:center;
	width: 30px;
}

.dog_insert_col{
	width: 50%;
    float: right;
    text-align: center;
    margin-top: 27px;
}

.dog_insert_picture{
	width: 45%;
    margin-top: 2%;
    margin-right: 27%;
	position: relative;
	float: right;
}
.dog_insert_submitBtn{
	color: #3E5560;
	font-size: 35px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    font-family: trashimclm;
    float: left;
    margin-left: 8px;
    margin-bottom: 4px;
	margin-top: 10px;
}

.dog_insert_submitBtn:hover {
	background: #3E5560;
    text-decoration: none;
    color: #eee;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}


/*=========================================*/
/*====PAGE - Dog-insert =====*/
/*=========================================*/


.success_dog_insert_a{
	margin-right:50px;
	font-size: 30px;

}



/*=========================================*/
/*====PAGE - Dogstaying-add =====*/
/*=========================================*/

.datepicker {
    font-size: 1.2em;
    border: none;
    border-bottom: #eee 3px solid;
    margin-bottom: 22px;
    text-align: center;
    width: 300px;
}

.dogsSection article{
	float: right;
    padding: 10px 10px;
}
.dogsSection img {
    width: 100px;
    border-radius: 59px;
    padding-bottom: 3px;
    height: 100px;
}
.dogsSection input[type=radio]{
	float: right;
    padding: 10px 10px;
}
.chooseOmanaBtn{
	color: #3E5560;
    font-size: 27px;
    background: #eee;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    font-family: trashimclm;
    float: left;
    margin-left: 125px;
}
.dogStayingMainBtn{
	background:url("../../static/img/background/btm/main-content-btm-curve.jpg") no-repeat;
	height:33px;
	display:block;
	width:960px;
}

.chooseOmanaBtn:hover {
	background: #3E5560;
    text-decoration: none;
    color: #eee;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
