*{margin:0; padding: 0;}
/*General Settings*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}

a {text-decoration: none;}
a:focus {outline: thin dotted;}
a:active,a:hover{outline: 0;}


@font-face{font-family: "trashimclm";src: url(trashimclm.ttf);}

body {font-family: trashimclm; color: #333; background: url("../../static/img/body-bg-tile.jpg") bottom repeat; 
  	  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

#wrapper{width: 1000px; margin: 0 auto;}

#logo{width: 435px; height: 153px; background:url("../../static/img/logo.png") no-repeat center;
      display: block; float:right;}


.header-user-dropdown {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	height: 160px;
	color: #ffffff;
	box-sizing: border-box;
}



@media all and (max-width: 600px) {

	#wrapper{
	width: auto; /* according to design's width*/ 
	margin: 0 auto;
	background-color:#8e3d63;	
	}
	
	
	#logo{
	    width: 240px;
	    height: 125px;
	    background: url("../../static/img/logoS.png") no-repeat center;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    float:none;
	}

}

