<!DOCTYPE html>
<html>
	<head>	
		<meta charset="utf-8">
		<title>Dogs 4 Adoption</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="../../static/style/style.css">

		<script src="../../static/js/modernizr.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>		
			$(document).ready(function(){
		
				var userMenu = $('.header-user-dropdown .header-user-menu');
		
				userMenu.on('touchend', function(e){
		
					userMenu.addClass('show');
		
					e.preventDefault();
					e.stopPropagation();
		
				});
		
				// This code makes the user dropdown work on mobile devices
		
				$(document).on('touchend', function(e){
		
					// If the page is touched anywhere outside the user menu, close it
					userMenu.removeClass('show');
		
				});
		
			});		
		</script>			
	</head>
	<body>
		<div id="wrapper">
			<header class="header-user-dropdown">
					
				<a href="index.html"  id="logo"></a><!--Logo-->		
			    <nav id="nav">
			        <div class="block">
			            <ul>
			                <li class="is-active navBtnAdopt">
			                    <a href="#">אמץ כלב</a>
			                </li><!--
			             --><li class="navBtnFoster">
			                    <a href="#">רישום לאומנה</a>
			                </li><!--
			             --><li class="navBtnAbout">
			                    <a href="#">אודות</a>
			                </li><!--
			             --><li class="navBtnGallery">
			                    <a href="chip_search">חיפוש שבב</a></a>
			                </li><!--
			             --><li class="navBtnContact">
			                    <a href="#">צור קשר</a>
			                </li>
			            </ul>
			            <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
			        </div>
			    </nav>		
			</header>
		
			<!-- The content of your page would go here. -->
			
		
			<div class="menu">
			
			</div>
		</div>
	</body>
</html>
