<!DOCTYPE html>
<html class="no-js">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	    <title>Friends for Life</title>	
		<script src="../../static/js/modernizr.js"></script>
		<link rel="stylesheet" href="../../static/style/style.css">
		<link rel="stylesheet" href="../../static/style/styleMobile.css">
	</head>
	<body dir="rtl">	
		<div id="outer-wrap">
			<div id="inner-wrap">	
			    <header id="top">
			        <div class="block">
			            <a href="index.html"  id="logo"></a><!--Logo-->
			            <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
			            <div id="contact">
			                <span class="based">we're based in Limerick</span>
			                <span class="number">call us  061 43 7777</span>
			            </div>		    
					    <nav id="nav">
				            <ul>
				                <li class="is-active navBtnAdopt">
				                    <a href="dogs_4_adoption.html">אמץ כלב</a>
				                </li>
				             	<li class="navBtnFoster">
				                    <a href="house_registration.html">רישום לאומנה</a>
				                </li>
				             <!--<li class="navBtnAbout">
				                    <a href="#">אודות</>
				              </li>-->
    				             <li class="navBtnGallery">
				                    <a href="#">גלריה</a></a>
				                </li>
				             <!--<li class="navBtnContact">
				                    <a href="#">צור קשר</a>
				                </li>-->
				                <li class="navBtnDonate">
				                    <a href="donation_baskets.html">תרומה</a></a>
				                </li>
				            </ul>	
			            	<a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
			    		</nav>
					</div>			        
			    </header>
				<main id="main">
					<div class="block">
						<div class="mainTop"></div>
						<div class="mainContent">
				    		<h1>תוצאות החיפוש</h1>
                            {% for dog in dogs_list %}
                                <div id="dog_div" > <!-- here come's dog's pic-->
                                <img src={{ dog.picture.url }} class="picture">
                                    <div class="dogsDetails">
                                     <p class="name">{{ dog.name }}</p>
                                        <div class="col">
                                            <p> מין:{{ dog.gender }}</p>
                                            <p class="age"> גיל: {{ dog.age }}</p>
                                            <br>
                                            <!--  <p class="description"> {{ dog.description }}</p> -->
                                            <!--     #Parameters : gender, dog_size, dog_age, dog_breed, dog_color
        # childrens_friendly, suitable_for_allergic , habituated_for_needs -->
                                            <p> גזע: {{ dog.type_name }}</p>
                                            <p> צבע: {{ dog.color }}</p>
                                        </div>
                                        <div class="col">
                                            {%  if dog.is_childrens_friendly %}
                                                <p style="color:#2ecc71;"> ידידותי לילדים</p>
                                            {% else %}
                                               <p style="color:#e74c3c;"> לא ידידותי לילדים</p>
                                            {% endif %}

                                            {%  if dog.is_educated %}
                                                <p style="color:#2ecc71;"> מחונך לצרכים</p>
                                            {% else %}
                                               <p style="color:#e74c3c;"> לא מחונך לצרכים</p>
                                            {% endif %}

                                            {%  if dog.is_hypoallergenic %}
                                                <p style="color:#2ecc71;">מתאים לאלרגיים </p>
                                            {% else %}
                                               <p style="color:#e74c3c;"> לא מתאים לאלרגיים</p>
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <p class="description"> {{ dog.description }}</p>
                                        </div>
                                    </div>
					     	    </div>
                            {%  endfor %}
								<div class="clear"></div>
							</form>							
						</div>
						<div class="mainBtn"></div>
					</main>		
			    	<footer id="footer"></footer>
				</div><!--Block-->			    	
			</div><!--/#inner-wrap-->
		</div><!--/#outer-wrap-->
		<script src="../../static/js/main.js"></script>
	</body>
</html>