<!DOCTYPE html>
<html class="no-js">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Friends for Life</title>
		<script src="../../static/js/modernizr.js"></script>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
		<link rel="stylesheet" href="../../static/style/style.css">
		<link rel="stylesheet" href="../../static/style/styleMobile.css">
	</head>
	<body dir="rtl">
		<div id="outer-wrap">
			<div id="inner-wrap">
			    <header id="top">
			        <div class="block">
			            <a href="index.html"  id="logo"></a><!--Logo-->
			            <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
			            <div id="contact">
							{% if request.user.is_authenticated %}
                                <div id="loginBannerBeforeClick">
                                    <button id="btnClick" class="based">מחובר למערכת</button>
                                </div>
                                <div id="loginBannerAfterClick" style="display:none;">
                                    <form name="logout" action="logout_endpoint" method="post">
                                                <input type="submit" value="התנתק">
                                        <label> מחובר כ:</label><br>
                                        <label class="text"> {{ user.username }}</label>
                                    </form>
                                </div>
                            {% else %}
                                <div id="loginBannerBeforeClick">
                                    <button id="btnClick" class="based">כניסה למערכת</button>
                                </div>
                                <div id="loginBannerAfterClick" style="display:none;">
                                    <form name="login" action="login_endpoint" method="post">
                                                <input type="submit" value="כניסה">
                                                <input type="password" name="password" placeholder="סיסמא" required>
                                                <input type="text" name="usermail" placeholder="שם משתמש" required>
                                    </form>
                                </div>
                            {% endif %}			            </div>
					    <nav id="nav">
				            <ul>
				                <li class="is-active navBtnAdopt">
				                    <a href="dogs_4_adoption.html">אמץ כלב</a>
				                </li>
				             	<li class="navBtnFoster">
				                    <a href="house_registration.html">רישום לאומנה</a>
				                </li>
				             <!--<li class="navBtnAbout">
				                    <a href="#">אודות</>
				              </li>-->
    				             <li class="navBtnGallery">
				                    <a href="chip_search">חיפוש שבב</a></a>
				                </li>
				             <!--<li class="navBtnContact">
				                    <a href="#">צור קשר</a>
				                </li>-->
				                <li class="navBtnDonate">
				                    <a href="donation_baskets.html">תרומה</a>
				                </li>
                                {% if request.user.is_superuser %}
                                    <li class="navBtnDogIndex">
                                        <a href="dogs_index.html">ניהול כלבים</a>
                                    </li>
                                    <li class="navBtnDogHouseIndex">
                                        <a href="doghouse_index.html">ניהול אומנה</a></a>
                                    </li>
                                {% endif %}
				            </ul>
			            	<a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
			    		</nav>
					</div>
			    </header>
				<main id="main">
					<div class="block">
						<div class="mainTop"></div>
						<div class="mainContent mainContentDogstaying">
				    		<h1>הוספת שהייה באומנה</h1><br>
                                <div class="dogstaying_add_form_details">
{##}
{#    description = models.TextField()#}
{#    color = models.CharField(max_length=100, null=True)#}
{#    age = models.CharField(max_length=100, null=True)#}
{##}
{#    is_adopted = models.BooleanField(default=False)#}
{#    is_castrated = models.BooleanField(default=False)#}
{#    is_educated = models.BooleanField(default=False)#}
{#    gender = models.CharField(max_length=10, null=True)#}
{#    status = models.CharField(max_length=50, help_text="State Name - In-Adoption / In-House / Treatment ")#}
{#    last_updated = models.DateTimeField(auto_created=True)#}
{#    picture = models.ImageField(upload_to="dog_pictures", default="media/dog_pictures/no-img.jpg")#}
{#    chip_id = models.CharField(max_length=200, help_text="IL chip-id")#}
{##}
{#    size = models.CharField(max_length=200, null=True)#}
{#    type_name = models.CharField(max_length=200, null=True, help_text="The name of the Dog-type")#}
{#    is_hypoallergenic = models.BooleanField(default=False)#}
{#    is_children_friendly = models.BooleanField(default=True)#}
                                    <form action="dogstay_addition" method="post" name="dogstaying_addition" enctype="multipart/form-data" >
                                        <div class="dogstaying_add_col">
                                            <label class="dogstaying_add_form_label"> תאריך תחילה:</label>
                                            <input type="date"  class="dogstaying_add_form_input datepicker" name="start_date">
                                            <label class="dogstaying_add_form_label" style="padding-right:14px">תאריך סיום: </label>
                                            <input type="date"  class="dogstaying_add_form_input datepicker" name="end_date">
                                            <br><br>
                                            {% if src_type == 'dog' %}
                                                <input type="hidden" name="dog_id" value="{{ id }}">
                                                <label class="dogstaying_add_form_label">בחר בית מארח מרשימת הבתים:</label>
                                                <br>
                                                    {% for house in list %}
                                                        <input type="radio" name="doghouse_id" value="{{ house.id }}"> {{ house.owner_name }} , {{ house.owner_city }} <br>
                                                    {% endfor %}
                                                <br>
                                            {% elif src_type == 'house' %}
                                                <input type="hidden" name="house_id" value="{{ id }}">
                                                <label class="dogstaying_add_form_label">בחר כלב מרשימת הכלבים:</label>
                                                <br>
                                                <Section class="dogsSection">
                                                    {% for dog in list %}
                                                        <article>
                                                            <img src="{{ dog.picture.url }}"> <br> <input type="radio" name="dog_id" value="{{ dog.id }}"> {{ dog.name }} , {{ dog.type_name }}
                                                        </article>
                                                    {% endfor %}
                                               </Section>
                                                <br>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>

								<div class="clear"></div>
                            <input class="chooseOmanaBtn" type="submit" value="הוסף">

						</div>
					</main>
			    	<footer id="footer"></footer>
				</div><!--Block-->
			</div><!--/#inner-wrap-->
		</div><!--/#outer-wrap-->
        <script src="../../static/js/main.js"></script>
        <script src="../../static/js/script.js"></script>
    </body>
</html>