<!DOCTYPE html>
<html class="no-js">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	    <title>Friends for Life</title>	
		<script src="../../static/js/modernizr.js"></script>
		<link rel="stylesheet" href="../../static/style/style.css">
		<link rel="stylesheet" href="../../static/style/styleMobile.css">
	</head>
	<body dir="rtl">	
		<div id="outer-wrap">
			<div id="inner-wrap">	
			    <header id="top">
			        <div class="block">
			            <a href="index.html"  id="logo"></a><!--Logo-->
			            <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
			            <div id="contact">
			                <span class="based">we're based in Limerick</span>
			                <span class="number">call us  061 43 7777</span>
			            </div>		    
					    <nav id="nav">
				            <ul>
				                <li class="navBtnAdopt">
				                    <a href="dogs_4_adoption.html">אמץ כלב</a>
				                </li>
				             	<li class="navBtnFoster">
				                    <a href="house_registration.html">רישום לאומנה</a>
				                </li>
				             <!--<li class="navBtnAbout">
				                    <a href="#">אודות</>
				              </li>-->
				             <li class="navBtnAbout">
				                    <a href="#">על העמותה</a>
				                </li>
				             <!--<li class="navBtnContact">
				                    <a href="#">צור קשר</a>
				                </li>-->
				                <li class="navBtnDonate">
				                    <a href="#">תרומה</a></a>
				                </li>
				            </ul>	
			            	<a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
			    		</nav>
					</div>			        
			    </header>
				<main id="main">
					<div class="block">
						<div class="mainTop"></div>
						<div class="mainContent">
							<section class="IndexLeftSide">
								<h2>אתם גם יכולים לעזור:</h2>
								<article class="IndexLeftSideAdopt">
									<a href="dogs_4_adoption.html">
										<h4 class="header">אימוץ כלבים</h4>
										<p class="paragraph">אימוץ כלבים, גורים, מבוגרים מכל הגזעים והסוגים - איך מתחילים?</p>
									</a>
								</article>								
								<article class="IndexLeftSideVolenteer">
									<a href="dogs_4_adoption.html">
										<h4 class="header">דרושים מתנדבים</h4>
										<p class="paragraph">רוצים לעזור לכלבים? אנחנו צריכים מתנדבים בכל חלקי הארץ?</p>
									</a>									
								</article>
								<article class="IndexLeftSideAdoptaionDays">
									<a href="dogs_4_adoption.html">
										<h4 class="header">ימי אימוץ</h4>
										<p class="paragraph">רשימת ימי אימוץ שבו תמצאו את החבר החדש לחיים שלכם</p>
									</a>										
								</article>
								<article class="IndexLeftSideStore">
									<a href="dogs_4_adoption.html">
										<h4 class="header">חנות מזון לחיות של העמותה</h4>
										<p class="paragraph">80% מרווח החנות נתרם להציל עוד כלבים! בעזרת המזון שתקנו תצילו חיים</p>
									</a>										
								</article>
							</section>
							
							<section class="IndexRightSide">
								<img class="banner" src="../../static/img/banner.png">
							</section>
						</div>
						<div class="mainBtn"></div>
					</main>		
			    	<footer id="footer"></footer>
				</div><!--Block-->			    	
			</div><!--/#inner-wrap-->
		</div><!--/#outer-wrap-->
		<script src="../../static/js/main.js"></script>
	</body>
</html>