<!--

class DogHouse(models.Model):
    owner_name = models.CharField(max_length=200, help_text="Name of doghouse owner")
    owner_phone = models.CharField(max_length=200, help_text="Phone Number of owner")
    owner_email = models.EmailField(help_text="Email of doghouse owner")
    owner_city = models.CharField(max_length=50)
    address = models.CharField(max_length=500, help_text="Full-Address Of DogHouse")
    capacity = models.IntegerField(help_text="Maximum dogs capacity")


!-->

<!DOCTYPE html>
<html class="no-js">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Friends for Life</title>
	    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
		<script src="../../static/js/modernizr.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
		<link rel="stylesheet" href="../../static/style/style.css">
		<link rel="stylesheet" href="../../static/style/styleMobile.css">
        <script>
              var geocoder;
              var autocomplete;

              function initialize() {
                geocoder = new google.maps.Geocoder();
                 autocomplete = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
                { types: ['geocode'] });
                     autocomplete2 = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */(document.getElementById('autocompleteFormInput2')),
                { types: ['geocode'] });
                google.maps.event.addListener(autocomplete, 'place_changed', function() {
                });
                 google.maps.event.addListener(autocomplete2, 'place_changed', function() {
                });
              }
        </script>
<script>
  var footerResize = function() {
    $('#footer').css('position', $("body").height() + $("#footer").innerHeight() > $(window).height() ? "inherit" : "fixed");
  };
  $(window).resize(footerResize).ready(footerResize);
</script>
	</head>
	<body dir="rtl" onload="initialize()">
		<div id="outer-wrap">
			<div id="inner-wrap">
			    <header id="top">
			        <div class="block">
			            <a href="index.html"  id="logo"></a><!--Logo-->
			            <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
						<div id="contact">
							{% if request.user.is_authenticated %}
                                <div id="loginBannerBeforeClick">
                                    <button id="btnClick" class="based">מחובר למערכת</button>
                                </div>
                                <div id="loginBannerAfterClick" style="display:none;">
                                    <form name="logout" action="logout_endpoint" method="post">
                                                <input type="submit" value="התנתק">
                                        <label> מחובר כ:</label><br>
                                        <label class="text"> {{ user.username }}</label>
                                    </form>
                                </div>
                            {% else %}
                                <div id="loginBannerBeforeClick">
                                    <button id="btnClick" class="based">כניסה למערכת</button>
                                </div>
                                <div id="loginBannerAfterClick" style="display:none;">
                                    <form name="login" action="login_endpoint" method="post">
                                                <input type="submit" value="כניסה">
                                                <input type="password" name="password" placeholder="סיסמא" required>
                                                <input type="text" name="usermail" placeholder="שם משתמש" required>
                                    </form>
                                </div>
                            {% endif %}						</div>
					    <nav id="nav">
				            <ul>
				                <li class="navBtnAdopt">
				                    <a href="dogs_4_adoption.html">אמץ כלב</a>
				                </li>
				             	<li class="navBtnFoster">
				                    <a href="house_registration.html">רישום לאומנה</a>
				                </li>
				             <li class="navBtnAbout">
				                    <a href="#">על העמותה</a>
				                </li>
				                </li>
				                <li class="navBtnDonate">
				                    <a href="#">תרומה</a></a>
				                </li>
                                {% if request.user.is_superuser %}
                                    <li class="navBtnDogIndex">
                                        <a href="dogs_index.html">ניהול כלבים</a>
                                    </li>
                                    <li class="navBtnDogHouseIndex">
                                        <a href="doghouse_index.html">ניהול אומנה</a></a>
                                    </li>
                                {% endif %}
				            </ul>
			            	<a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
			    		</nav>
					</div>
			    </header>
				<main id="main">
					<div class="block">
						<div class="mainTop"></div>
						<div class="mainContent">
							<h1>עדכון בוצע בהצלחה</h1>
                            <br><br>
                            <a href="dogs_index" class="success_dog_updation_a"> חזרה</a>
				</div><!--Block-->
			</div><!--/#inner-wrap-->
		</div><!--/#outer-wrap-->
		<script src="../../static/js/main.js"></script>
		<script src="../../static/js/script.js"></script>
	</body>
</html>